@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: block; /*먼저 block으로 해놓고 시작하는 사람도 있음*/
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
/* 모달창 */
/* 전체영역 */
.wrap {
  width: 1200px;
  height: 700px;
  background-color: antiquewhite;
  margin: auto;
}
/* 상단 */
.header {
  width: 1200px;
  height: 100px;
  display: flex;
  background-color: aquamarine;
}
/* 로고 */
.logo {
  width: 200px;
  padding: 10px;
  height: 100%;
  line-height: 100px;
  /* text-align: center; */
  background-color: rgb(255, 236, 222);
}
.logo a img {
  width: 100%;
}
/* 메뉴 */
.nav {
  position: relative;
  width: 1000px;
  height: 100%;
  background-color: rgb(178, 183, 237);
}
/* 메인메뉴 */
.gnb {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 600px;
  height: 50px;
  display: flex;
  background-color: rgb(255, 199, 189);
  z-index: 9; /*레이어 올리기 개념*/
}
.gnb > li > a {
  width: calc(600px / 4);
  /* height: 50px; */
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  background-color: azure;
}
.gnb > li:hover > a {
  color: #fff;
  background-color: black;
}
/* 서브메뉴 전체 나오는 방법 */
/* .gnb:hover .depth2 {
  display: block;
} */
.gnb > li:hover .depth2 {
  display: block;
}
/* 서브메뉴 */
.depth2 {
  background-color: rgb(159, 207, 255);
  text-align: center;
  display: none;
}
.depth2 > li > a {
  padding: 10px 0;
}
.depth2 > li > a:hover {
  background-color: rgb(132, 193, 255);
  color: aliceblue;
}
/* 비주얼 */
.slide {
  position: relative;
  width: 1200px;
  height: 300px;
  background-color: rgb(181, 243, 181);
}
.slide-all {
  width: 100%;
  height: 300px;
}
.slide-all > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide-all > li > a {
  /* position: relative; */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide-all > li > a > img {
  width: 100%;
  display: block;
}
.slide-all > li > a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  padding: 10px 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
/* 콘텐츠 */
.contents {
  width: 1200px;
  height: 200px;
  display: flex;
  background-color: thistle;
}
.contents > div {
  padding: 10px;
}
/* 공지사항/갤러리 */
.c {
  width: calc(100% / 3);
  height: 200px;
  background-color: rgb(255, 255, 255);
}
.c1 {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.c1 h4 {
  width: 70px;
  line-height: 30px;
  text-align: center;
  background-color: violet;
}
.c1 h4.on {
  background-color: yellowgreen;
}
.c1 ul {
  width: calc(100% - 20px);
  position: absolute;
  top: 40px;
  left: 10px;
  display: none;
  padding: 10px;
  /* background-color: rgb(208, 245, 186); */
}
/* .c1 ul li span {
  font-size: 15px;
} */
.c1 ul.on {
  display: block;
}
/* 공지사항 */
.notice li {
  width: 100%;
}
.notice li:nth-child(even) {
  background-color: antiquewhite;
}
.notice li a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  /* background-color: yellow; */
  font-size: 12px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.notice-txt {
  width: 70%;
  /* background-color: blue; */
}
/* 갤러리 */
.gal {
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
}
/* 배너 */
.c2,
.c3 {
  position: relative;
}
.c2 a,
.c3 a {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.c2 a img,
.c3 a img {
  width: 100%;
}
.c2 a span,
.c3 a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  padding: 10px 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
/* 바로가기 */
.c3 {
}
/* 하단 */
.footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 100px;
  /* background-color: steelblue; */
}
/* ft-logo */
.ft-logo {
  width: 200px;
  height: 100%;
  padding: 10px;
  /* background-color: wheat; */
}
.ft-logo a {
  line-height: 100px;
}
.ft-logo a img {
  width: 100%;
  filter: grayscale(1);
}
/* ft-copy */
.ft-copy {
  width: 900px;
  height: 100%;
  /* background-color: slategrey; */
}
.bottom_menu {
  display: flex;
  width: 60%;
  margin: auto;
  line-height: 50px;
  padding: 10px 0;
}
.bottom_menu li {
  position: relative;
  width: calc(100% / 3);
  text-align: center;
  line-height: 30px;
  /* border-right: 1px solid #999; */
}
.bottom_menu li::after {
  content: "";
  border: 1px solid red;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 0;
}
.bottom_menu li:last-child::after {
  border: none;
}
.ft-copy p {
  width: 100%;
  line-height: 50px;
  text-align: center;
}
